#home-sec-1-container {
    position: relative;
    background: #E3D9D0;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    border-bottom: 10px solid #D6CCC4;
    width: 100%;
}

/* Styles spécifiques pour les écrans jusqu'à 320px */
@media only screen and (max-width: 320px) {
    #home-sec-1-container {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
    }
}

/* Styles supplémentaires pour rendre la page responsive */
.elementor-size-default {
    display: flex;
    margin-top: 100px;
}

#main-header .site-container {
    max-width: 100%;
    padding: 0;
}

#home-sec-1-container .wp-image-30 {
    width: 100%;
    height: 110vh;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Syne', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


html {
	display: flex;
	justify-content: center;
}
@media screen and (min-width: 800px) {
.e-con-inner {
	width: 1307px;
    height: 950px;
	max-width: 1440px;
}
}

body{
	/* width: 1440px; */
	margin: 0 auto;
}

#inner-wrap .elementor-element-27fc141 {
	width: 85%;
  margin: auto;
}

#inner-wrap .elementor-element-9750188 {
	position: relative;
  background: #E3D9D0;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}


/****************** HOME PAGE  *****************************/
.framboise .citron{
	position: absolute; /* Position absolue par rapport au parent relatif */
	top: 55%; /* Centrage vertical */
	left: 40%; /* Centrage horizontal */
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translate(-50%, -50%); /* Décalage précis pour un centrage parfait */
	color: #FFF; /* Couleur du texte */
	font-size: 48px; /* Taille du texte */
	font-family: Syne;
	font-weight: 800;
	font-weight: bold; /* Gras pour le texte */
	z-index: 10; /* S'assurer que le texte reste au-dessus de l'image */
}

@media screen and (max-width: 360px){
	.e-con-inner {
		width: 310px;
	}
	
}

.custom-logo {
	margin-left: 13px;
}

#inner-wrap #fraise {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.linkadmin a {
	text-decoration: none;
	margin-right: 30px;
	color: black;
}


#inner-wrap .elementor-element-ab119d1, #inner-wrap .elementor-element-6102891, #inner-wrap .elementor-element-545d16d, #inner-wrap .elementor-element-6f4252d {
	position: relative;
	width: 393px;
}

#inner-wrap .elementor-element-dc436f0 {
	padding: 0;
}

.elementor-page-21 #wrapper #inner-wrap   {
	background-color: #3B8E46;
}

#inner-wrap {
	background-color: white;
}

@media screen and (max-width: 1380px)  {

	#inner-wrap .elementor-21 {
		max-width: 70%;
	}
}

@media screen and (max-width: 1200px)  {
	#inner-wrap .elementor-21 {
		max-width: 90%;
	}
}

.elementor-21 {
	margin: auto;
	max-width: 60%;
}

.site-footer {
	height: 60px;
}

#colophon .site-middle-footer-inner-wrap {
	padding-top: 0;
	padding-bottom: 0;
	grid-template-columns: none; 
}

#colophon .site-footer-row {
	display: initial;
}

@media screen and (max-width: 768px) {
#inner-wrap .elementor-element-ab119d1 {
	margin-inline-start: 0;
	margin-inline-end: 0;
}
}

#imagefraise {
	position: relative;
}

#name, #email {
	border-radius: 7px;
	height: 71px;
}

#message {
	height: 237px;
	border-radius: 7px;
}

.form-button {
	border-radius: 7px;
}

#primary-menu {
	margin-left: 100px;
}

.container-fraise{
	background-image: url("http://localhost/plantyprinc/wp-content/uploads/2022/11/jeremy-bezanger-0QgbyZdhX7k-unsplash-1-2.png");
	background-repeat: no-repeat;
	width: 393px !important;
	height: 262px;

}
.container-pamplemousse{
	background-image: url(http://localhost/plantyprinc/wp-content/uploads/2022/11/estudio-bloom-tOitjphtIXU-unsplash-1-1.png);
	background-repeat: no-repeat;
		width: 393px !important;
	height: 262px;
}
.container-framboise{
	background-image: url(http://localhost/plantyprinc/wp-content/uploads/2022/11/rodion-kutsaev-4k8xEFW4_3Q-unsplash-1-1.png);
	width: 393px !important;
	height: 262px;
	background-repeat: no-repeat
}
.container-citron{
	background-image: url(http://localhost/plantyprinc/wp-content/uploads/2022/11/estudio-bloom-ezqnxsqUZ80-unsplash-1-1.png);
	width: 394px !important;
	height: 263px;
	background-repeat: no-repeat
}


#card-1{
	width: 393px;
	height: 262px;
}
#card-2{
	width: 394px;
	height: 263px;
}
#card-3{
	width: 393px;
	height: 262px;
}
#card-4{
	width: 393px;
	height: 262px;
}
.size-thumbnail {
	height: auto;
    max-width: 100%;
    border: none;
    border-radius: 50%;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/************* Commander in nav bar ****************/
.commander{
	background-color: #DC9F96;
}

.header-nav-bar{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}



/****************** CSS FROM CUSTOMIZER ***************************/
/* .class-for-overlapping {
	z-index: 2;
}
.attachment-thumbnail.size-thumbnail{
	border-radius: 50%;
} */

/******************* 1st part of the order form *****************/

.quantity{
	width: 45px;
	height: 56px;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	text-align: center;
}

.btns{

	background-color: #DC9F96 !important;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	height: 28px;
}

.btns:first-child {
	border-bottom: 1px solid white;
  }
  
.both-btns {
	display: flex;
	flex-direction:column ;
	justify-content: center;
	align-items: center;
}
  
.btn-ok{
	background-color: #E0B9B4 !important;
	width: 100px;
	height: 57px;
	margin-left: 5px;
}

.qqt-2{
	display:flex;
	display: flex;
	flex-direction: row;
	height:56px;
	margin: 0%;
	padding: 0%;
	text-align: center;
} 

/******************* 2nd part of the order form *****************/
.contant-info{
	display:flex;
	flex-direction: row;
	justify-content: center;
}

label {
	color: white;
	font-family: Syne;
	font-weight: 400 !important;
	font-size: 18px;
	line-height: 24px;
}

#inner-wrap .delivery input {
width: 383px;
}

#inner-wrap .vos-infos-title input {
	width: 383px;
}

.vos-infos-title{
	width: 50%;
	border-right: solid 1px white;
	padding-right:45px;
	margin-bottom: 40px !important;
}
.personal-info-form{
	margin-top: 40px;
}
.delivery-info-form{
	margin-top: 40px;
}

#inner-wrap .delivery {
	width: 50%;
}

#delivery_adresse, #postal_code, #mail, #city {
	border-radius: 7px;
	height: 71px;
}
.delivery{
	padding-left: 25px !important;
}
#last-name,#first-name, #adresse, #postal-code, #city{
	margin-bottom: 20px;
}
.modif-size{

}
@media screen and (min-width: 768px) and (max-width: 939px) {
.elementor-button-text {
	width: 198px;
	border-radius: 5px;
	
}
}


.elementor-8 .elementor-element.elementor-element-99a74a4 {
	top: -700px;

}

.elementor-heading-title {
	display: flex;
	margin-top: 30px;
}


.elementor-8 .elementor-element.elementor-element-28ba3f8 {
	height: 900px;
}




.wp-image-28 {
	margin-top: -47px;
}



.wp-image-39 {
	width: 100%;
}


#inner-wrap .e-con-inner {
max-width: 100%;
margin: 0;
}

.e-con-inner {
	max-width: 70%;
	margin: auto;
}

.elementor-8 .elementor-element.elementor-element-2c8d6ad .elementor-button {
	width: 200px;
	border-radius: 5px;
}

    .elementor-size-default {
        margin-top: 50px;
    }

    #home-sec-1-container, .container-fraise, .container-pamplemousse, .container-framboise, .container-citron, #card-1, #card-2, #card-3, #card-4 {
        width: 100%;
        height: auto;
    }

	.elementor-element-7d11c08 {
		width: 100%;
	}

    .directionRow {
        gap: 50px;
    }

    .contant-info, .delivery-info-form, .vos-infos-title {
        flex-direction: row;
        justify-content: space-between;
    }

    .modif-size, .contact-form, .form-input, .form-textarea, .form-button {
        width: 100%;
    }



.wp-image-461 .wp-image-480 .wp-image-481 {
	object-fit: cover;
}

.commander {
	order: 1;
}
.vos-infos-title h4{
	color: white;
	font-family: Syne;
	font-weight: 700; 
	line-height:36px;
	width:278px;
}

.livraison-title h4{
	color: white;
	font-family: Syne;
	font-weight: 700; 
	line-height:36px;
}

#order-button{
	background-color: #E0B9B4;
	width: 198px;
	height: 55px;
	font-family: Syne;
	font-weight: 400;
	font-size: 15px;
	line-height:37px;
	border-radius: 5px;
}

#inner-wrap .elementor-element-1c20c55 {
	width: 193px;
	height: 128px;
}


#fraise {
	position: absolute;
    font-size: 200%; /* Adjust the font size as needed */
    color: white; /* This will make the text white */
    font-weight: bold; /* Makes the font bold */
    text-transform: uppercase; /* Transforms the text to uppercase */
    display: flex;
    justify-content: center; 
	z-index: 10;
	top: 50%;
}

#pamplemousse {
	position: absolute;
    font-size: 100%; /* Adjust the font size as needed */
    color: white; /* This will make the text white */
    font-weight: bold; /* Makes the font bold */
    text-transform: uppercase; /* Transforms the text to uppercase */
	z-index: 10;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.background {
	background: #E3D9D0;
	border-bottom-left-radius: 50% 50%;
	border-bottom-right-radius: 50% 50%;
border-radius: 15px;
}

#citron {
	position: absolute;
    font-size: 100%; /* Adjust the font size as needed */
    color: white; /* This will make the text white */
    font-weight: bold; /* Makes the font bold */
    text-transform: uppercase; /* Transforms the text to uppercase */
    display: flex;
    justify-content: center; 
	z-index: 10;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 135px;
}

#framboise {
	position: absolute;
    font-size: 100%;; /* Adjust the font size as needed */
    color: white; /* This will make the text white */
    font-weight: bold; /* Makes the font bold */
    text-transform: uppercase; /* Transforms the text to uppercase */
    display: flex;
    justify-content: center; 
	z-index: 10;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.boise {
	position: absolute;
	z-index: 10;
	top: 60%;
}


#fraise .wp-image-29 {
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.8; /* Adjust the opacity as needed */
    z-index: -1;
}


#menu-item-49 {
	width: 236px;
}

#inner-wrap .elementor-element-55951e6  {
	width: 700px;
	z-index: 10;
	margin: auto;
}

#inner-wrap .elementor-element-d27e27f {
	z-index: 10;
}

#inner-wrap .elementor-element-1fb36f0 {
	width: 350px;
  right: 0;
  left: initial;
}

.elementor-element-717e3eb {
	background-color: #E3D9D0;
}

#inner-wrap .elementor-element-c398f07 {
	left: 0;
  z-index: 0;
}

#primary-menu #menu-item-50 a {
	color: black;
	font-size: 16px;
	font-weight: 400;
	margin-left: 7px;
	margin-right: 7px;
}

.menu-item-50 a {
	font-size: 16px;
	margin-left: 7px;
	margin-right: 27px;
}

/************************ Nous Rencontrer page ************************/

/*************** Team Members *****************/
.directionRow {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 150px;

}

.directionColumn {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.textCenter {
	text-align: center;
}

#team-member-img{
	border-radius: 50%;
}

/************* Contact Form *********************/
.contact-form {
	display: flex;
	flex-direction: column;
	width: 383px; /* Modifie la largeur du formulaire */
	margin: 0 auto; /* Centre le formulaire sur la page */
	justify-content: center; /* Centre horizontalement le bouton */
	gap: 20px;
}
  
  .form-label {
	display: block;
	color: black;
	text-align: left; /* Aligne le label à gauche */
	margin-bottom: -15px;
  }
  
  .form-input, .form-textarea {
	width: 100%; /* Tous les champs de formulaire ont la même largeur */
  }

  .form-input {
	border-radius: 10px;
  }
  
  .form-button {
	margin-top: 16px; /* Place le bouton "Envoyer" en dessous des autres champs de formulaire */
	margin: auto; /* Centre horizontalement et verticalement le bouton */
	width: 198px;
	height: 55px;
	text-align: center;
	background-color: #E0B9B4;
	color: white;
  }
  .envoyer:hover{
	background-color: #E0B9B4;
  }
  #message{
	height: 237px;
  }

  /* Background flower decoration */
  #flower-contact-form{
	bottom: 185px;
	left: -185px;
  }



  
/***************** Responive design  **************************/
/* @media tablette */

  @media (min-width: 940px) and (max-width: 1439px) {
	.contact-form{
		margin-top: 40px;
		display: flex;
		flex-direction: column;
		width: 383px;
		margin: 0 auto; /* Centre le formulaire sur la page */
		justify-content: center; /* Centre horizontalement le bouton */
		gap: 15px;
	}
}

@media (min-width:940px) and (max-width: 1280px) {
	
	.img-branch-team{
		display:none;
	}

	#nous-contacter-form{
		margin-top: 40px;
	}
	/* page Commander, section: forms */
	.contant-info{
		margin: 0 auto; /* Centre le formulaire sur la page */
	}
	.delivery{
		padding-left: 20px !important;
		margin-bottom: -20px;
	}
	#order-button{
		margin-top: -40px;
	}
}

@media (min-width:940px) and (max-width: 1023px){
	#votre-commande{
		display: flex;
		flex-direction: row;
		justify-content: center;
		
	} 
}
@media (min-width:1024px) and (max-width: 1440px){
	.all-cards{
		margin-top: 20px !important;
	}
}

@media (max-width:1024px) {
	#wrapper #inner-wrap .modif-size { 
		width: 100%;
	}
}

@media screen and (min-width: 320px) and (max-width: 1400px) {
	.contant-info {
		width: 100%;
	}
	#inner-wrap .elementor-21 .elementor-element.elementor-element-d222d09 h1 {
		font-size: 20px;
	}

	.elementor-21 .elementor-element.elementor-element-1599a0e .elementor-heading-title h1 {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.vos-infos-title {
		justify-content: center;
	}
}


@media screen and (max-width: 320px) {
	.contact-form {
		  margin-top: 20px;
		  display: flex;
		  flex-direction: column;
		  width: 100%;
		  margin: 0 auto;
		  justify-content: center;
		  gap: 10px;
	  }

	.directionRow {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 30px;
	}
	.img-branch-team{
		display:none;
	}
	#nous-contacter-form{
		margin-top: 25px;
	}

	/* page Commander, section: forms */
	.contant-info{
		display: flex;
		flex-direction: column;
		width: 500%;
	}
	#order-button{
		margin-top: 50px;
	}
	.vos-infos-title{
		border-right: none;
	}
	.delivery{
		padding-left: 0 !important;
		margin-bottom: -20px;
	}
	.line {
		width: 100%;
		border-top: 1px solid white;
		margin-bottom: 30px;
	}
	.all-cards{
		display: flex;
		flex-direction: column;
		justify-content: space-between !important;
		margin: 0 auto;
	}
	.container-card-order .e-con-inner{
		margin-top: 30px !important;
		align-items: center !important;
	}
	.qqt-2{
		margin-top: -20px;
	}
	/* Header */
	.site-header-section{
		width: 50%;

	}
	.site-header-row-container-inner{
		width: 100%;
	}
	.site-header-item{
		margin-left: 110px;
	}
	.quantity {
		margin-top: 50px;
	}
	
.

}

@media screen and (max-width: 939px){
		/* Header */
		.site-header-item{
			margin-left: 10px;
		}
		.site-main-header-wrap {
			width: 100% !important;
			display: flex;
			align-items: center !important;
		  }

		.site-header-section{
			width: 50%;

		}
		.site-header-row-container-inner{
			width: 100%;
		}

		.mobile-toggle-open-container{
			margin-right: -900px;
		}

		.site-main-header-inner-wrap .site-header-main-section-left{
			width: 100%;
			display: flex;
			align-items: center;
		} 

		/* Background flower decoration */
		#flower-contact-form{
			display: none;
		}
}

#inner-wrap .elementor-21 .elementor-element.elementor-element-b8abe77 {
	min-height: auto;
}

#title-commander {
	margin-top: 45px;
}

#inner-wrap #votre-commande {
	border-bottom: 0;
	padding-top: 35px;
	width: 100%;
}



#inner-wrap .elementor-element-aecbfd4, #inner-wrap .elementor-element-06b666e, #inner-wrap .elementor-element-aecbfd4, #inner-wrap .elementor-element-7fdbf4e { 
	width: 193px;
	height: 128px;
}

#inner-wrap .elementor-element-adeb831 {
border-bottom: solid 1px white;
padding-bottom: 50px;
}

#inner-wrap .elementor-element-717e3eb {
	position: relative;
  background: #E3D9D0;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  border-bottom: 10px solid #D6CCC4;
}

.elementor-8 .elementor-element.elementor-element-5ac51cd > .elementor-widget-container {
	
}

/*TABLETTE*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
	#inner-wrap .elementor-element-2ea4895  .e-con-inner {
		width: auto;
		display: flex;
		flex-direction: column;
	}
	.contant-info p {
		width: 100%;
	}
	#inner-wrap .elementor-element-1c20c55, #inner-wrap .elementor-element-aecbfd4, #inner-wrap .elementor-element-06b666e, #inner-wrap .elementor-element-7fdbf4e {
		width: 160px;
	}
	#inner-wrap .elementor-element-9d9910f h3 {
		font-size: 15px;
	}
	#inner-wrap .elementor-21 .elementor-element.elementor-element-1599a0e > .elementor-widget-container {
		margin: 0;
		margin-bottom: 15px;
	}
	#inner-wrap .elementor-21 .elementor-element.elementor-element-d222d09 > .elementor-widget-container {
		margin: 0;
	}
	#inner-wrap .img-branch-team {
		display: none;
	}
	#inner-wrap .container-photo {
		margin-bottom: 50px;
	}

}

@media screen and (max-width: 767px) {

	#inner-wrap .wp-image-29 {
		max-width: 100%;
	}
	#inner-wrap .elementor-21 .elementor-element.elementor-element-1599a0e .elementor-heading-title {
		font-size: 25px;
    display: flex;
    justify-content: center;
	}

	#inner-wrap .elementor-21 .elementor-element.elementor-element-d222d09 > .elementor-widget-container {
		margin: 0;
	}
	#inner-wrap #votre-commande {
		margin-bottom: 15px;
	}
}

#imagefruitcss {
	margin: auto;
}